# Virtual Environment
.venv/
venv/
ENV/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Logs
*.log
logs/

# Sensitive / Local configs
.env
